@charset "UTF-8";

.menu_gallery h2{
	padding: 6px 0 6px 10px;
}

.breadcrumb{
	padding-top: 18px;
	position: relative;
	height: 22px;
}

dt{
	margin-bottom: 5px;
}

dd{
	line-height: 1.3em;
}

p{
	line-height: 1.8em;
}

h1{
	line-height: 1.5em;
}

th,td{
	line-height: 1.5em;
}

.single_product_detail_category h3{
	padding: 6px 0;
}

.single_product_catch_copy{
	line-height: 1.5em;
}

.single_product_detail_option{
	margin-bottom: 40px;
}

.specification th,.specification td{
	font-size: 95%;
	line-height: 1.5em;
}

.news_wrap{
	font-size: 85%;
}

.news_wrap .date{
	width: 95px;
	line-height: normal;
	margin-top: -1px;
}

.news_wrap .news_title_content{
	width: 515px;
}

.news_single_title{
	padding-bottom: 70px;
}

.information_category ul{
	padding-top: 2px;
	margin-top: 40px;
}

/*****特徴メインコンテンツ******/
.maintenance_instructions p{
	padding-left: 7px;
}

/*ショップ一覧*/
.shop_area_list h3{
	padding: 5px 0;
}

/*****会社関連サイドバー******/
.side_menu_company li a{
	display: block;
	/*padding: 0px 0px 5px 20px;*/
	padding: 10px 0px 6px 20px;
	margin: 1px 0;
	color: #2f4e8d;
	font-size: 81%;
}

/*お問い合わせ*/
.input_content_check input[type="submit"]{
	padding-top: 5px;
}

/*サイトマップ*/
.site_map_list li{
	background: url('../images/triangle_blue.png') no-repeat 7px 0.7em;
}

/*プライバシーポリシー*/
.content_box_privacy_policy ol li{
	margin-left: 28px;
}